/* login */

body {
    background-image: url("");
    background-color:gray;
   }
   
   
   #login {
       display: flex;
       justify-content: center;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
   }
   
   
   #button {
       display: flex;
       justify-content: center;
   }
   
   #footer {
       font-size: 12px;
       display: flex;
       justify-content: center;
       position: absolute;
       top: 98%;
       left: 50%;
       transform: translate(-50%, -50%);
   }
   
   #home,
   #lihatdata,
   #detail,
   #edit {
       margin-top: 2rem;
       margin-bottom: 2rem;
   }
   
   #edit {
       display: flex;
       justify-content: center;
   }